table {
    background-color: #DFDFDF;
}

table.table_borders {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #808080;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    border-spacing: 0px;
    padding: 10px;
}

table.table_borders tr:nth-child(even) {
    background: #FFF
}

table.table_borders tr:nth-child(odd) {
    background: #DFDFDF
}

td.td_style {
    padding-left: 5px;
    height: 40px;
}

h1 {
    color: #808080;
    font-size: 25px;
}

table.table_borders2 {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #808080;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    border-spacing: 0px;
    padding: 10px;
}